
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply smooth font rendering */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212; /* fallback dark background */
  color: white; /* fallback text color */
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

/* Default for code blocks */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Remove default list styles */
ul, ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}